{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */

#}

      <div class="col-12 col-lg-6 height-600px bg-yellow padding-three-all">
      <div>
      <h1 class="title page-title text-white text-uppercase text-extra-large text-left padding-70px-tb sm-padding-two-all width-100 text-lg-left text-center">Productivity and Collaboration</h1>
        <form{{ attributes }}>


          {{ element.elements.first }}
          {{ element.elements.from_0_to_100_do_you_have_a_seamless_work_experience_where_you_c }}

          {{ element.elements.second }}
          {{ element.elements.what_percentage_of_your_workforce_when_working_remotely_have_acc }}

          {{ element.elements.third }}
          {{ element.elements.when_your_workforce_is_working_remotely_is_their_it_still_manage }}

          {{ element.elements.fourth }}
          {{ element.elements.how_do_you_manage_document_work_and_other_manual_work_in_your_da }}
          {{ element.elements.what_percent_of_your_time_is_wasted_due_to_your_or_someones_else }}
          {{ element.elements.fifth }}
          {{ element.elements.to_what_extend_supports_your_servicedesk_your_customer_s_needs_ }}

          {{ element.elements.message }}
          {{ element.form_build_id }}
          {{ element.form_token }}
          {{ element.form_id }}
          {{ element.actions }}

          {{ title_suffix }}


      </div>
			</div>

      <div class="cnt-right col-12 col-lg-6 height-600px cnt-p prod-section">
			 <form{{ attributes }}>

         {{ element.elements.first }}
            {{ element.elements.from_0_to_100_do_you_have_a_seamless_work_experience_where_you_c }}

            {{ element.elements.second }}
            {{ element.elements.what_percentage_of_your_workforce_when_working_remotely_have_acc }}

          {{ element.elements.third }}
            {{ element.elements.when_your_workforce_is_working_remotely_is_their_it_still_manage }}

			{{ element.elements.fourth }}
            {{ element.elements.how_do_you_manage_document_work_and_other_manual_work_in_your_da }}
{{ element.elements.what_percent_of_your_time_is_wasted_due_to_your_or_someones_else }}
			{{ element.elements.fifth }}
            {{ element.elements.to_what_extend_supports_your_servicedesk_your_customer_s_needs_ }}

            {{ element.elements.message }}
            {{ element.form_build_id }}
            {{ element.form_token }}
            {{ element.form_id }}
            {{ element.actions }}

        {{ title_suffix }}
            {{ element.progress }}  
        </div>
