{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */#}

<head>
<link rel="stylesheet" href="themes/Assessment/css/base/style.css" />

</head>
{#<section class="section wow fadeIn no-padding-bottom">#}



{#  <div class="container-fluid">#}
{#    <div class="row">#}
{#      <div class="col-12 col-lg-6 cover-background height-400px md-height-600px sm-height-350px wow fadeIn bg-yellow padding-two-all">#}
{#        <div class="text-left padding-70px-tb padding-30px-lr sm-padding-two-all width-100 text-lg-left text-center">#}
{#          <p class="margin-55px-bottom"><span class="text-white text-uppercase text-extra-large">PRODUCTIVITY AND COLLABORATION </span></p>#}
{#          <h6 class="font-weight-600 text-white">Select the statements that reflect your workplace and operations.</h6>#}
{#          <span class="text-small font-weight-400 text-white"> (Select all that apply)</strong></span>#}



{#          <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" data-msg-required="This field is required." id="edit-actions"><input class="btn btn-med border-radius-btn btn-white text-yellow text-uppercase font-weight-600" data-drupal-selector="edit-wizard-next" data-msg-required="This field is required." type="submit" id="edit-wizard-next" name="op" value="Next"></div>#}
{#        </div>#}
{#      </div>#}




{#      <div class="col-12 col-lg-6 padding-five-tb padding-six-lr height-400px md-padding-eleven-all sm-padding-15px-lr wow fadeIn background-white">#}



{#        <div data-webform-key="first" data-drupal-selector="edit-first" data-msg-required="first is required." id="edit-first" class="js-form-wrapper form-wrapper">#}



{#          <form>#}
{#            <div>#}
{#              <input type="range" id="html-input-range">#}
{#            </div>#}
{#          </form>#}



{#          <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" data-msg-required="This field is required." id="edit-actions">#}
{#            <input class="btn btn-med border-radius-btn btn-blue text-uppercase font-weight-600 float-right margin-twenty-two-half-top" data-drupal-selector="edit-wizard-next" data-msg-required="This field is required." type="submit" id="edit-wizard-next" name="op" value="Next"></div>#}



{#        </div>#}
{#      </div>#}





{#    </div>#}
{#  </div>#}



{#</section>#}

<section class="section wow fadeIn no-padding">



  <div class="region region-content col-12 col-lg-6 cover-background height-600px md-height-550px sm-height-350px wow fadeIn bg-yellow">
    <div id="block-assessment-page-title" class="block block-core block-page-title-block">


      <div class="content">




        <h1 class="title page-title text-white text-uppercase text-extra-large text-left padding-70px-tb sm-padding-two-all width-100 text-lg-left text-center">Productivity &amp; Collaborations</h1>




        <h6 class="font-weight-600 text-white text-extra-large" for="edit-from-0-to-100-do-you-have-a-seamless-work-experience-where-you-c">What percentage of your workforce have seamless access to the information, systems and applications they need to complete their role remotely / from anywhere?</h6>



      </div>
    </div>
  </div>



  <div class="region region-content col-12 col-lg-6 cover-background height-550px md-height-550px sm-height-350px wow fadeIn">
    <div id="block-assessment-content" class="block block-system block-system-main-block">


      <div class="content">
        <form class="webform-submission-form webform-submission-add-form webform-submission-productivity-collaborations-form webform-submission-productivity-collaborations-add-form js-webform-disable-autosubmit js-webform-details-toggle webform-details-toggle" data-drupal-selector="webform-submission-productivity-collaborations-add-form" data-msg-required="This field is required." action="/drupal-8.9.16/form/productivity-collaborations" method="post" id="webform-submission-productivity-collaborations-add-form" accept-charset="UTF-8" data-drupal-form-fields="edit-from-0-to-100-do-you-have-a-seamless-work-experience-where-you-c,edit-wizard-next" novalidate="novalidate">






          <div data-webform-key="first" data-drupal-selector="edit-first" data-msg-required="first is required." id="edit-first" class="js-form-wrapper form-wrapper margin-200px-top" style="
    margin-top: 200px;
">



            <input type="range" id="html-input-range" data-drupal-selector="edit-from-0-to-100-do-you-have-a-seamless-work-experience-where-you-c" data-msg-max="The value in What percentage of your workforce have seamless access to the information, systems and applications they need to complete their role remotely / from anywhere? has to be less than 100." data-msg-min="The value in What percentage of your workforce have seamless access to the information, systems and applications they need to complete their role remotely / from anywhere? has to be greater than 0." data-msg-required="What percentage of your workforce have seamless access to the information, systems and applications they need to complete their role remotely / from anywhere? is required." data-msg-step="The value in What percentage of your workforce have seamless access to the information, systems and applications they need to complete their role remotely / from anywhere? has to be divisible by 20." name="from_0_to_100_do_you_have_a_seamless_work_experience_where_you_c" value="60" step="20" min="0" max="100" class="form-range">
{#            <input type="{{ element.elements.from_0_to_100_do_you_have_a_seamless_work_experience_where_you_c }}" id="html-input-range" data-drupal-selector="edit-from-0-to-100-do-you-have-a-seamless-work-experience-where-you-c" data-msg-max="The value in What percentage of your workforce have seamless access to the information, systems and applications they need to complete their role remotely / from anywhere? has to be less than 100." data-msg-min="The value in What percentage of your workforce have seamless access to the information, systems and applications they need to complete their role remotely / from anywhere? has to be greater than 0." data-msg-required="What percentage of your workforce have seamless access to the information, systems and applications they need to complete their role remotely / from anywhere? is required." data-msg-step="The value in What percentage of your workforce have seamless access to the information, systems and applications they need to complete their role remotely / from anywhere? has to be divisible by 20." name="from_0_to_100_do_you_have_a_seamless_work_experience_where_you_c" value="60" step="20" min="0" max="100" class="form-range">#}



          </div>
          <input autocomplete="off" data-drupal-selector="form-28lrjcx4lq1-szl9fkybgkkdbcwr8wh961anfuqwzqk" data-msg-required="This field is required." type="hidden" name="form_build_id" value="form-28lRJcX4LQ1-SzL9FKYBgKKdBCwR8Wh961AnFuqWZQk">
          <input data-drupal-selector="edit-webform-submission-productivity-collaborations-add-form" data-msg-required="This field is required." type="hidden" name="form_id" value="webform_submission_productivity_collaborations_add_form">



          <div class="webform-progress">







            <ul class="webform-progress-tracker progress-tracker progress-tracker--center margin-80px-top" data-webform-progress-steps="">
              <li data-webform-page="first" title="first" class="progress-step is-active">
                <span class="progress-marker" data-webform-progress-step="" data-webform-progress-link="">1</span>
                <span class="progress-text">
          <span class="progress-title" data-webform-progress-link="">
            <span class="visually-hidden" data-webform-progress-state="">Current</span>
            first
          </span>
        </span>
              </li>
              <li data-webform-page="second" title="second" class="progress-step">
                <span class="progress-marker" data-webform-progress-step="" data-webform-progress-link="">2</span>
                <span class="progress-text">
          <span class="progress-title" data-webform-progress-link="">
            <span class="visually-hidden" data-webform-progress-state=""></span>
            second
          </span>
        </span>
              </li>
              <li data-webform-page="third" title="Third" class="progress-step">
                <span class="progress-marker" data-webform-progress-step="" data-webform-progress-link="">3</span>
                <span class="progress-text">
          <span class="progress-title" data-webform-progress-link="">
            <span class="visually-hidden" data-webform-progress-state=""></span>
            Third
          </span>
        </span>
              </li>
              <li data-webform-page="fourth" title="Fourth" class="progress-step">
                <span class="progress-marker" data-webform-progress-step="" data-webform-progress-link="">4</span>
                <span class="progress-text">
          <span class="progress-title" data-webform-progress-link="">
            <span class="visually-hidden" data-webform-progress-state=""></span>
            Fourth
          </span>
        </span>
              </li>
              <li data-webform-page="fifth" title="fifth" class="progress-step">
                <span class="progress-marker" data-webform-progress-step="" data-webform-progress-link="">5</span>
                <span class="progress-text">
          <span class="progress-title" data-webform-progress-link="">
            <span class="visually-hidden" data-webform-progress-state=""></span>
            fifth
          </span>
        </span>
              </li>
              <li data-webform-page="webform_confirmation" title="Complete" class="progress-step">
                <span class="progress-marker" data-webform-progress-step="" data-webform-progress-link="">6</span>
                <span class="progress-text">
          <span class="progress-title" data-webform-progress-link="">
            <span class="visually-hidden" data-webform-progress-state=""></span>
            Complete
          </span>
        </span>
              </li>
            </ul>





          </div>



          <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" data-msg-required="This field is required." id="edit-actions"><input class="btn btn-med border-radius-btn btn-blue text-uppercase font-weight-600 float-right " data-drupal-selector="edit-wizard-next" data-msg-required="This field is required." type="submit" id="edit-wizard-next" name="op" value="Next">



          </div>





        </form>



      </div>
    </div>



  </div>



</section>

<body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="themes/Assessment/js/classy/html-input-range.js"></script>
<script src="themes/Assessment/js/classy/main_hir.js"></script>
</body>
{{ element.elements.from_0_to_100_do_you_have_a_seamless_work_experience_where_you_c }}
{{ title_prefix }}
{#									{{ element.elements.from_0_to_100_do_you_have_a_seamless_work_experience_where_you_c }}#}

{#                                  <!--  {{ element.elements.how_many_employees_does_your_company_have_}}#}

{#                                    {{ element.elements.in_which_country_is_your_company_located_ }}-->#}

{#<!-- <input type="text" name="subject" id="subject" placeholder="Subject" class="input-bg"> -->#}

{#{{ element.form_build_id }}#}
{#									{{ element.form_token }}#}
{#									{{ element.form_id }}#}
{#									{{ element.actions }}#}
