{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}
<!doctype html>
<html class="no-js" lang="en">
<head>
        <!-- title -->
        <title>Konica Minolta</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="ThemeZaa">
        <!-- description -->
        <meta name="description" content="">
        <!-- keywords -->
        <meta name="keywords" content="">
        <!-- favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="themes/Assessment/images/favicon.ico">
        <link rel="icon" type="image/x-icon" href="themes/Assessment/images/favicon.ico">
        <!-- animation -->
        <link rel="stylesheet" href="themes/Assessment/css/base/animate.css" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="themes/Assessment/css/base/bootstrap.min.css" />
        <!-- et line icon -->
        <link rel="stylesheet" href="themes/Assessment/css/base/et-line-icons.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="themes/Assessment/css/base/font-awesome.min.css" />
        <!-- themify icon -->
        <link rel="stylesheet" href="themes/Assessment/css/base/themify-icons.css">
        <!-- swiper carousel -->
        <link rel="stylesheet" href="themes/Assessment/css/base/swiper.min.css">
        <!-- justified gallery  -->
        <link rel="stylesheet" href="themes/Assessment/css/base/justified-gallery.min.css">
        <!-- magnific popup -->
        <link rel="stylesheet" href="themes/Assessment/css/base/magnific-popup.css" />

        <!-- bootsnav -->
        <link rel="stylesheet" href="themes/Assessment/css/base/bootsnav.css">
        <!-- style -->
        <link rel="stylesheet" href="themes/Assessment/css/base/style.css" />
        <!-- style card flip -->
        <link rel="stylesheet" href="themes/Assessment/css/base/style_card-flip.css" />
        <!-- responsive css -->
        <link rel="stylesheet" href="themes/Assessment/css/base/responsive.css" />
        <!--[if IE]>
            <script src="themes/Assessment/js/classy/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- start header -->
        <header>
            <div class="left-nav">

                <!-- start logo -->
                <div class="sidebar-part1 padding-10px-top padding-65px-right text-right">
                    <a href="#" title="Konica Minolta" class="logo padding-10px-left"><img img-src="themes/Assessment/images/logo.svg" alt="logo" data-visible="visible" data-loaded="loaded" src="themes/Assessment/images/logo.svg"></a>
                </div>
                <!-- end logo -->

                <div class="sidebar-part2">
                    <div class="sidebar-middle">
                        <div class="sidebar-middle-menu alt-font font-weight-600">
                            <nav class="navbar bootsnav navbar-expand-lg alt-font">
                                <div id="navbar-menu" class="collapse navbar-collapse no-padding">
                                    <ul class="nav navbar-nav">
                                        <span class="text-black text-medium font-weight-500 margin-20px-bottom d-inline-block"> DX 360&#176 Assessment </span>
                                        <li class="dropdown text-uppercase bg-white padding-10px-tb padding-18px-lr margin-2px-tb">
                                            <a href="#" title="Home" data-toggle="dropdown">DX 360&#176 Landing Page <!-- <i class="fas fa-angle-right pull-right"></i> --> </a>
                                            <!--<ul class="dropdown-menu second-level">
                                                <li><img src="themes/Assessment/images/it-services.png" class="w-100 height-150px"> <h5 class="text-uppercase text-large text-white its">IT SERVICES</h5> </li>
                                            </ul> -->
                                        </li>
                                        <li class="dropdown text-uppercase bg-white padding-10px-tb padding-18px-lr margin-2px-tb">
                                            <a data-toggle="dropdown" href="#" title="">Productivity &#38; Collaboration </a>
                                        </li>
                                        <li class="dropdown text-uppercase bg-white padding-10px-tb padding-18px-lr margin-2px-tb">
                                            <a data-toggle="dropdown" href="#" title="">security &#38; compliance </a>
                                        </li>
                                        <li class="dropdown text-uppercase bg-white padding-10px-tb padding-18px-lr margin-2px-tb">
                                            <a data-toggle="dropdown" href="#" title="">Mobility </a>
                                        </li>
                                        <li class="dropdown text-uppercase bg-white padding-10px-tb padding-18px-lr margin-2px-tb">
                                            <a data-toggle="dropdown" href="#" title="ontact">flexibility efficiency &#38; sustainability </a>
                                        </li>
                                        <li class="dropdown text-uppercase bg-white padding-10px-tb padding-18px-lr margin-2px-top margin-20px-bottom">
                                            <a data-toggle="dropdown" href="#" title="">analytics &#38; intelligence</a>
                                        </li>

                                        <li class="dropdown text-uppercase bg-blue padding-10px-tb padding-18px-lr">
                                            <a class="text-white" data-toggle="dropdown" href="#" title="">About Konica Minolta</a>
                                        </li>
                                        <!-- <li>
                                            <div class="side-left-menu-close close-side"></div>
                                        </li> -->
                                    </ul>
                                </div>
                            </nav>
                            <div class="icon-social-medium sm-display-none padding-35px-tb padding-60px-left">
                                <a href="https://www.facebook.com/" target="_blank" class="text-extra-dark-gray text-deep-pink-hover margin-10px-right"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>

                                <a href="https://linkedin.com/" target="_blank" class="text-extra-dark-gray text-deep-pink-hover margin-10px-right"><i class="fab fa-linkedin" aria-hidden="true"></i></a>

                                <a href="https://twitter.com/" target="_blank" class="text-extra-dark-gray text-deep-pink-hover margin-10px-right"><i class="fab fa-twitter" aria-hidden="true"></i></a>

                                <a href="https://youtube.com" target="_blank" class="text-extra-dark-gray text-deep-pink-hover margin-10px-right"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-part3">
                    <div class="bottom-menu-icon">
                        <a href="javascript:void(0);" class="right-menu-button text-extra-dark-gray nav-icon" id="showRightPush">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header -->

       <!-- start contact section -->
        <section id="contact" class="wow fadeIn no-padding">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6 cover-background md-height-550px sm-height-350px wow fadeIn bg-mobility">
                        <div class="text-left padding-70px-tb padding-30px-lr sm-padding-two-all width-100 text-lg-left text-center">
                            <h6 class="margin-30px-bottom"><span class="text-white text-uppercase">MOBILITY </span></h6>
                            <p class="text-medium font-weight-400 text-white">With an increasingly distributed workforce, remote and hybrid working 
are here to stay.  Businesses must consider how to support mobile working 
environments for the long-term. This means ensuring agile teams can flexibly
scale up on a project-to-project basis and access work apps and data from anywhere. <br><br>Understand how to gain a competitive edge by being more responsive, accessible, and be able to work whenever, and wherever.
</p>
                            <p class="text-sm padding-15px-top text-white"> Please answer the questions and click <strong>"PROCEED"</strong></p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 padding-five-tb padding-six-lr md-padding-eleven-all sm-padding-15px-lr wow fadeIn bg-lg cnt-right">
                        <h6 class="margin-55px-bottom text-black font-weight-600 md-margin-30px-bottom sm-margin-15px-bottom gquestions">General Questions</h6>
                        <div>
						<form{{ attributes }}>


                                    <div id="success-contact-form" class="mx-0"></div>
									
									{{ element.elements.in_which_industry_is_your_company_active_ }}

                                    {{ element.elements.how_many_employees_does_your_company_have_}}

                                    {{ element.elements.in_which_country_is_your_company_located_ }}

                                    <!-- <input type="text" name="subject" id="subject" placeholder="Subject" class="input-bg"> -->

                                    {{ element.form_build_id }}
									{{ element.form_token }}
									{{ element.form_id }}
									{{ element.actions }}

                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end contact section -->

{#        <!-- start footer -->#}
{#        <footer class="footer-standard-dark bg-dark-footer">#}
{#            <div class="footer-widget-area padding-two-tb sm-padding-30px-tb">#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-6 col-md-6 widget sm-text-center">#}

{#                            <!-- start social media -->#}
{#                            <div class="social-icon-style-8 d-inline-block vertical-align-middle">#}
{#                                <ul class="small-icon no-margin-bottom">#}
{#                                    <li><a class="facebook text-white-2" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>#}
{#                                    <li><a class="linkedin text-white-2" href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a></li>#}
{#                                    <li><a class="twitter text-white-2" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>#}
{#                                    <li><a class="youtube text-white-2" href="https://youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>#}
{#                                    <li><a class="instagram text-white-2" href="https://instagram.com/" target="_blank"><i class="fab fa-instagram no-margin-right" aria-hidden="true"></i></a></li>#}
{#                                </ul>#}
{#                            </div>#}
{#                            <!-- end social media -->#}
{#                        </div>#}

{#                        <!-- start text image -->#}
{#                        <div class="col-lg-6 col-md-6 widget md-padding-15px-left text-md-right text-center padding-5px-top">#}
{#                            <img src="themes/Assessment/images/gsti_text.png" alt="">#}
{#                        </div>#}
{#                        <!-- end text image -->#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="border-top border-color-medium-dark-gray">#}

{#            <div class="bg-dark-footer padding-20px-bottom padding-10px-top text-center sm-padding-30px-tb">#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <!-- start copyright -->#}
{#                        <div class="col-md-6 text-md-left text-small text-center"><a href="javascript:void(0);" class="text-dark-gray">Term of Use</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:void(0);" class="text-dark-gray">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:void(0);" class="text-dark-gray">Sitemap</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:void(0);" class="text-dark-gray">Imprint</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:void(0);" class="text-dark-gray">Cookie Settings</a></div>#}
{#                        <div class="col-md-6 text-md-right text-small text-center sm-padding-30px-top"> &copy; 2021 Konica Minolta Business Solutions India Private Limited.#}
{#                        </div>#}
{#                        <!-- end copyright -->#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </footer>#}
{#        <!-- end footer -->#}

        <!-- scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="themes/Assessment/js/classy/jquery.js"></script>
        <script type="text/javascript" src="themes/Assessment/js/classy/modernizr.js"></script>
        <script type="text/javascript" src="themes/Assessment/js/classy/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="themes/Assessment/js/classy/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="themes/Assessment/js/classy/skrollr.min.js"></script>
        <script type="text/javascript" src="themes/Assessment/js/classy/smooth-scroll.js"></script>
        <script type="text/javascript" src="themes/Assessment/js/classy/jquery.appear.js"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="themes/Assessment/js/classy/bootsnav.js"></script>
        <script type="text/javascript" src="themes/Assessment/js/classy/jquery.nav.js"></script>
        <!-- animation -->
        <script type="text/javascript" src="themes/Assessment/js/classy/wow.min.js"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="themes/Assessment/js/classy/page-scroll.js"></script>
        <!-- swiper carousel -->
        <script type="text/javascript" src="themes/Assessment/js/classy/swiper.min.js"></script>
        <!-- counter -->
        <script type="text/javascript" src="themes/Assessment/js/classy/jquery.count-to.js"></script>
        <!-- parallax -->
        <script type="text/javascript" src="themes/Assessment/js/classy/jquery.stellar.js"></script>
        <!-- magnific popup -->
        <script type="text/javascript" src="themes/Assessment/js/classy/jquery.magnific-popup.min.js"></script>
        <!-- portfolio with shorting tab -->
        <script type="text/javascript" src="themes/Assessment/js/classy/isotope.pkgd.min.js"></script>
        <!-- images loaded -->
        <script type="text/javascript" src="themes/Assessment/js/classy/imagesloaded.pkgd.min.js"></script>
        <!-- pull menu -->
        <script type="text/javascript" src="themes/Assessment/js/classy/classie.js"></script>
        <script type="text/javascript" src="themes/Assessment/js/classy/hamburger-menu.js"></script>
        <!-- counter  -->
        <script type="text/javascript" src="themes/Assessment/js/classy/counter.js"></script>
        <!-- fit video  -->
        <script type="text/javascript" src="themes/Assessment/js/classy/jquery.fitvids.js"></script>
        <!-- skill bars  -->
        <script type="text/javascript" src="themes/Assessment/js/classy/skill.bars.jquery.js"></script>
        <!-- justified gallery  -->
        <script type="text/javascript" src="themes/Assessment/js/classy/justified-gallery.min.js"></script>
        <!--pie chart-->
        <script type="text/javascript" src="themes/Assessment/js/classy/jquery.easypiechart.min.js"></script>
        <!-- retina -->
        <script type="text/javascript" src="themes/Assessment/js/classy/retina.min.js"></script>

        <script type="text/javascript" src="themes/Assessment/js/classy/main.js"></script>
    </body>
</html>
